#base
/bin/
*.class

#Mobile Tools for Java
.mtj.tmp/

#maven
/target/

#gradle
/build/
/tsa-springmvc/build/

#eclipse ide
/.project
/.classpath
/.settings/


#idea ide
/.idea/
*.iml

#Package Files
*.war
*.ear

#virtual machine crash logs
hs_err_pid*

#Log file
*.log

#other
*~
~*


